<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Intake Form</title>
  </head>

  <body>
  <!--TODO add status -->

          <!-- main area -->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <img class= "img-responsive" src="http://www.championswimming.ca/images/logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </div>
    </div>
  </header>

  <nav>
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/add">Home</a></li>
        <li role="presentation"><a href="/search">Search</a></li>
        <li role="presentation"><a href="/delete">Delete</a></li>
      </ul>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </div>

  </nav>
  <div class="container-fluid">
    <div class="row">
      <form method="post" role="form">
        <div class="form-group required">
          <div class="row">
            <div class="col-md-2 sol-sm-2 col-xs-2">
              <label for="customerID">Customer ID</label>
              <input type="text" class="form-control" name="customerID">
            </div>
            <div class="col-md-2 sol-sm-2 col-xs-2">
              <label for="customerStatus">Customer Status</label>
              <select class="form-control" name="customerStatus">
                <option>Active</option>
                <option>Inactive</option>
                <option>Pending Payment</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 sol-sm-2 col-xs-2">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" name="fname">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" name="lname">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <label for="areaCode">Area Code</label>
              <input type="text" class="form-control" name="areaCode">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label for="phoneNumber">Phone Number</label>
              <input type="tel" class="form-control" name="phoneNumber">
            </div>
          </div>
          <div class="row">
            <div class="col md-3 col-sm-3 col-xs-3">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" name="gender">
            </div>
          </div>
          <div class = "row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" name="dob">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label for="streetAddress">Address Line</label>
              <input type="text" class="form-control" name="streetAddress">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="province">Province</label>
              <!--<input type="text" class="form-control" name="province"> -->
              <select class="form-control" name="province">
                <option>ON</option>
                <option>QC</option>
                <option>NS</option>
                <option>PE</option>
                <option>MB</option>
                <option>AB</option>
                <option>BC</option>
                <option>NB</option>
                <option>NL</option>
              </select>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="postal">Postal Code</label>
              <input type="text" class="form-control" name="postal">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="parentName">Parent or Guardian Name</label>
              <input type="text" class="form-control" name="parentName">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="emergencyContact">Emergency Contact Name</label>
              <input type="tel" class="form-control" name="emergencyContact">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="emergencyAreaCode">Emergency Contact Area Code</label>
              <input type="tel" class="form-control" name="emergencyAreaCode">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="emergencyPhone">Emergency Contact Phone Number</label>
              <input type="tel" class="form-control" name="emergencyPhone">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="dr_name">Doctor's Name</label>
              <input type="text" class="form-control" name="drName">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="dr_phone">Doctor's Area Code</label>
              <input type="tel" class="form-control" name="drAreaCode">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="dr_phone">Doctor's Phone Number</label>
              <input type="tel" class="form-control" name="drPhone">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <label for="ohip">OHIP Number</label>
              <input type="text" class="form-control" name="ohip">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label for="medical_conditions">Medical Conditions</label>
              <textarea rows="3" class="form-control" placeholder="Please list any relevant medical conditions" name="medical_conditions"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label for="allergies_meds">Allergies or Medication</label>
              <textarea rows="3" class="form-control" placeholder="Please list any allergies or required medications" name="allergies_meds"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label for="how_found">How did you hear about Champion Swimming?</label>
              <input type="text" class="form-control" name="how_found">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label for="referral">Were you referred by another student? If so, please enter their name below</label>
              <input type="text" class="form-control" name="referral">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="currentLevel">What is the current swim level you have achieved (if any)?</label>
              <input type="text" class="form-control" name="level">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="classLength">Class length (minutes)</label>
              <select class="form-control" name="classLength">
                <option>30</option>
                <option>45</option>
                <option>60</option>
              </select>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <label for="classType">Class type</label>
              <select class="form-control" name="classType">
                <option>Group (max 4 students)</option>
                <option>Semi-Private (max 2 students)</option>
                <option>Private (individual lessons)</option>
              </select>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="acceptWaiver">
              By checking this box you are accepting the Champion Swimming waiver. The full waiver can be found
                <a href="#" data-toggle="modal" data-target="#modalWaiver"> here </a>
              </label>
          </div>
          <div class="modal fade" id="modalWaiver">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Waiver</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>I promise not to sue if Paul kills me.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class ="row">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="additionalStudents">Do you have additional students to register?
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2">
                <input type="submit" class="btn btn-default" value="Submit"/>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  </body>
</html>
