<!DOCTYPE html>
<html lang = "en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Display students</title>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <img class= "img-responsive" src="http://www.championswimming.ca/images/logo.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <hr>
          </div>
        </div>
      </div>
    </header>

    <nav>
      <div class="container-fluid">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/add">Home</a></li>
          <li role="presentation" class="active"><a href="/search">Search</a></li>
          <li role="presentation"><a href="/delete">Delete</a></li>
        </ul>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>
      </div>

    </nav>

    <form action = "{{ request.path }}" method = "post">
        <label for = "search_string">Search</label><br>
        <input type = "text" name = "search_string" placeholder = "First or Last Name" /><br>
        <input type = "submit" value = "Submit" />
    </form>
    <hr>
    <!-- <hr>
      {%- for message in get_flashed_messages() %}
      {{ message }}
      {%- endfor %}

    <h3>Students (<a href = "{{ url_for('add_students') }}">Add Student</a>)</h3>-->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Status</th>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Level</th>
        <th>Class Type</th>
        <th>Class Length</th>
        <th>Email</th>
        <th>City</th>
        <th>Province</th>
        <th>Street</th>
        <th>Postal Code</th>
        <th>Area Code</th>
        <th>Phone</th>
        <th>Parent</th>
        <th>Emergency Contact</th>
        <th>Area Code</th>
        <th>Phone</th>
        <th>Dr.</th>
        <th>Area Code</th>
        <th>Phone</th>
        <th>OHIP</th>
        <th>Medical</th>
        <th>Allergies</th>
        <th>How did you find us?</th>
        <th>Referral</th>
        </tr>
      </thead>

      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.Students.status }}</td>
            <td>{{ student.Students.info.customer_id }}</td>
            <td>{{ student.Students.fname }}</td>
            <td>{{ student.Students.lname }}</td>
            <td>{{ student.Students.gender }}</td>
            <td>{{ student.Students.dob }}</td>
            <td>{{ student.Students.level }}</td>
            <td>{{ student.Students.class_type }}</td>
            <td>{{ student.Students.class_length }}</td>
            <td>{{ student.Students.info.email }}</td>
            <td>{{ student.Students.info.city }}</td>
            <td>{{ student.Students.info.province }}</td>
            <td>{{ student.Students.info.street_address }}</td>
            <td>{{ student.Students.info.postal }}</td>
            <td>{{ student.Students.info.area_code }}</td>
            <td>{{ student.Students.info.phone_number }}</td>
            <td>{{ student.Students.info.parent_name }}</td>
            <td>{{ student.Students.info.emerg_contact }}</td>
            <td>{{ student.Students.info.emerg_area }}</td>
            <td>{{ student.Students.info.emerg_phone }}</td>
            <td>{{ student.Students.info.dr_name }}</td>
            <td>{{ student.Students.info.dr_area_code }}</td>
            <td>{{ student.Students.info.dr_phone }}</td>
            <td>{{ student.Students.info.ohip }}</td>
            <td>{{ student.Students.info.medical_conditions }}</td>
            <td>{{ student.Students.info.allergies_meds }}</td>
            <td>{{ student.Students.info.how_found }}</td>
            <td>{{ student.Students.info.referral }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
